test-results
node_modules

# Output
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Databases
/databases

# Tests
/e2e

# Docs and other texts
*.md

# Unnecessary configs
/.vscode
.gitignore
.npmrc
.prettier*
.dockerignore
Dockerfile
docker-compose.yml
components.json
drizzle.config.ts
playwright.config.ts
