node_modules

# Output
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Databases
/databases
/files

# Tests
/e2e
test-results

# Docs and other texts
*.md

# Unnecessary configs
/.vscode
.gitignore
.npmrc
.prettier*
.dockerignore
Dockerfile
docker-compose.yml
components.json
playwright.config.ts

# Private Files
___private.*
