TZ=UTC

PUBLIC_ORIGIN=https://nextgen-ai.com
ADDRESS_HEADER=X-Forwarded-For
XFF_DEPTH=2

ORIGIN=https://nextgen-ai.com
SOCKET_PATH=
HOST=0.0.0.0
PORT=5173
BODY_SIZE_LIMIT=4G

FILE_STORAGE_PATH=./files

POSTGRES_HOST=/var/run/postgresql
POSTGRES_PORT=5432
POSTGRES_USER=ce-nextgen-ai-2
POSTGRES_PASSWORD=password
POSTGRES_DB=ce-nextgen-ai-2

SMTP_HOST=smtp.nextgen-ai.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=no-reply@nextgen-ai.com
SMTP_PASSWORD=password
SMTP_FROM="CE Nextgen AI System"

DEFAULT_TIME_ZONE="Asia/Bangkok"

SESSION_LIFETIME=604800
