PUBLIC_ORIGIN=https://nextgen-ai.com

ORIGIN=https://nextgen-ai.com
HOST=0.0.0.0
PORT=5173
BODY_SIZE_LIMIT=104857600

POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_USER="ce-nextgen-ai-2"
POSTGRES_PASSWORD="password"
POSTGRES_DB="ce-nextgen-ai-2"
