TZ=UTC

PUBLIC_ORIGIN=https://nextgen-ai.com
ADDRESS_HEADER=X-Forwarded-For
XFF_DEPTH=2

ORIGIN=https://nextgen-ai.com
SOCKET_PATH=
HOST=0.0.0.0
PORT=5173
BODY_SIZE_LIMIT=4G

FILE_STORAGE_PATH=./files

POSTGRES_HOST=/var/run/postgresql
POSTGRES_PORT=5432
POSTGRES_USER=nextgen-ai-3
POSTGRES_PASSWORD=password
POSTGRES_DB=nextgen-ai-3

OAUTH_GOOGLE_CLIENT_ID=abc.apps.googleusercontent.com
OAUTH_GOOGLE_CLIENT_SECRET=abcXYZ
OAUTH_GOOGLE_SCOPES="openid email profile"

DEFAULT_TIME_ZONE="Asia/Bangkok"

SESSION_LIFETIME=604800

EXECUTOR_BASE_URL=http://[::]:6173