{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"bracketSameLine": true,
	"importOrder": [
		"<BUILTIN_MODULES>",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^\\$(?!lib)",
		"",
		"^\\$lib(?!/images)",
		"",
		"^\\.",
		"",
		"^\\$lib/images"
	],
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.8.3"
}
