@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 280 100% 98%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 278 100% 95%;
		--primary-foreground: 261 50% 39%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 271 91% 82%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	.button-gradient {
		background: linear-gradient(210deg, #ffd0f0 -13.25%, #9a46fb 99.85%);
	}

	.title-gradient {
		background: linear-gradient(90deg, #9a46fb 0%, #e4cafe 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	.text-gradient {
		background: linear-gradient(90deg, #cf8ef5 0%, #bc80fc 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	.katex {
		font-size: 1em !important;
	} /* align KaTeX font-size to surrounding text */

	eq {
		display: inline-block;
	}
	eqn {
		display: block;
	}
	section.eqno {
		display: flex;
		flex-direction: row;
		align-content: space-between;
		align-items: center;
	}
	section.eqno > eqn {
		width: 100%;
		margin-left: 3em;
	}
	section.eqno > span {
		width: 3em;
		text-align: right;
	}
}

/* cyrillic-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-cyrillic-ext-100.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* thai */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-thai-100.woff2) format('woff2');
	unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-ext-100.woff2) format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-100.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-cyrillic-ext-200.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* thai */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-thai-200.woff2) format('woff2');
	unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-ext-200.woff2) format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-200.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-cyrillic-ext-300.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* thai */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-thai-300.woff2) format('woff2');
	unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-ext-300.woff2) format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-300.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-cyrillic-ext-400.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* thai */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-thai-400.woff2) format('woff2');
	unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-ext-400.woff2) format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-400.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-cyrillic-ext-500.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* thai */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-thai-500.woff2) format('woff2');
	unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-ext-500.woff2) format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-500.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-cyrillic-ext-600.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* thai */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-thai-600.woff2) format('woff2');
	unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-ext-600.woff2) format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-600.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-cyrillic-ext-700.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* thai */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-thai-700.woff2) format('woff2');
	unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-ext-700.woff2) format('woff2');
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
		U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Thai';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/IBMPlexSansThai-latin-700.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
