@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 80% 98%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 210 100% 95%;
		--primary-foreground: 220 43% 11%;
		--secondary: 214 30% 95%;
		--secondary-foreground: 211 100% 60%;
		--accent: 211 100% 45%;
		--accent-foreground: 211 100% 66%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 217.2 91.2% 59.8%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
		scrollbar-width: thin;
	}

	body {
		@apply bg-background text-foreground;
	}

	.button-gradient {
		background: linear-gradient(90deg, #006ffb 0%, #007aff 100%);
	}

	.title-gradient {
		background: linear-gradient(90deg, #00438c 0%, #006ffb 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	.text-gradient {
		background: linear-gradient(90deg, #00438c 0%, #006ffb 100%);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	.box-shadow {
		box-shadow: 4px 4px 30px 0 rgba(131, 190, 255, 0.6);
	}
}
